@model WebApplication1.Services.CreditService.ApprovalStatus
@{
    ViewData["Title"] = "Home Page";
}

<h1>Money guaranteed?: @ViewData["Message1"]</h1> <br />
<h1>Are you sure?: @ViewData["Message2"]</h1> 